body {
	overflow-x: hidden;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo-class {
	/**margin-top:10px;**/
  width: 20%;
  vertical-align:center;
}

.li-class{
	padding-left:20px;
	list-style:none;
	line-height: 1.75;
}

.line{max-width:100%}

.navbar-brand {
	padding: 0 0 !important;
}

.text-primary {
	color: #3c8dbc
}

p {
	font-size: 14px;
	line-height: 1.75
}

p.large {
	font-size: 16px
}

a,a:hover,a:focus,a:active,a.active {
	
	outline: 0
}

a {
	color: #3c8dbc;
}

a:hover,a:focus,a:active,a.active {
	color: #3c8dbc;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}


.well-dashboard1{
	background:#5bc0de;
}

.well-dashboard2{
	background:#5cb85c;
}

.well-dashboard3{
	background:#428bca;
}

.well-dashboard4{
	background:#f0ad4e;
}


.row-eq-height{
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display:         flex !important;
}

div.transbox {
    /** margin: 30px;**/
    opacity: 1.0;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000;
}

.bg-light-gray {
	background-color: #f7f7f7
}

.bg-light-gray-second-level {
	background-color: #f4f4f4
}

.bg-gray {
	background-color: #ddd;
}

.btn-primary {
	color: #fff;
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #3c8dbc;
	border-color: #3c8dbc
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	background-image: none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active
	{
	background-color: #3c8dbc;
	border-color: #3c8dbc
}

.btn-primary .badge {
	color: #3c8dbc;
	background-color: #fff
}

.btn-xl {
	color: #fff;
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
	margin: 30px;
}

.btn-xl:hover,.btn-xl:focus,.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl
	{
	color: #fff;
	background-color: #2D5287;
	border-color: #2D5287;
}

.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl {
	background-image: none
}

.btn-xl.disabled,.btn-xl[disabled],fieldset[disabled] .btn-xl,.btn-xl.disabled:hover,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl:hover,.btn-xl.disabled:focus,.btn-xl[disabled]:focus,fieldset[disabled] .btn-xl:focus,.btn-xl.disabled:active,.btn-xl[disabled]:active,fieldset[disabled] .btn-xl:active,.btn-xl.disabled.active,.btn-xl[disabled].active,fieldset[disabled] .btn-xl.active
	{
	background-color: #3c8dbc;
	border-color: #3c8dbc
}

.btn-xl .badge {
	color: #3c8dbc;
	background-color: #fff
}

.well-two-line{
	padding:5px !important;
	height:70px !important;
	width: 250px !important;
	vertical-align: middle !important;
	border: 0px !important;
}

.well-one-line{
	padding-top:15px !important;
	height:70px !important;
	width: 250px !important;
	vertical-align: middle !important;
	border: 0px !important;
}

.navbar-default {
	background-color: #222;
	border-color: transparent
}

.navbar-default .navbar-brand {
	color: #3c8dbc;
	
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active
	{
	color: #3c8dbc
}

.navbar-default .navbar-collapse {
	border-color: rgba(255, 255, 255, .02)
}

.navbar-inverse .navbar-collapse {
	border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
	background-color: #3c8dbc;
	border-color: #3c8dbc
}

.navbar-inverse .navbar-toggle {
	background-color: #3c8dbc;
	border-color: #3c8dbc
}

.navbar-toggle .icon-bar {
	background-color: #fff
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
	{
	background-color: #3c8dbc;
}

.navbar-default .nav li a {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color: #3c8dbc;
}

.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	/**color: #3c8dbc;**/
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #3c8dbc
}

.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #fff;
	background-color: #3c8dbc
}


.blue-color {
	color: #3c8dbc;
}

.carousel-control {
	opacity:0 !important;
}

.carousel-indicators{
	bottom: -60px !important;
}
header {
	/*background-image: url(../img/background11.png);*/
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	
}

.background-img {
	background-image: url(../img/background12.png) !important;
	color: white;
	padding-top: 100px;
	padding-bottom: 200px
}


header .intro-text-heading {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 0px;
}

header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px
}

header .intro-text .intro-lead-in {
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px;
	/*color: #fff;*/
}

header .intro-text .intro-heading {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px
}

section {
	/**padding: 100px 0**/
}

.no-capitalization {
	text-transform: none !important; 
}

.add-padding {
	padding-top: 80px;
	/*padding-bottom: 20px;*/
}

section h2.section-heading {
	font-size: 40px;
	margin-top: 10px;
	/**margin-bottom: 15px**/
}

section h3.section-subheading {
	font-size: 16px;
	
	text-transform: none;
	
	font-weight: 400;
	margin-bottom: 75px
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
	font-size: 30px !important;
	/*color: #fff;*/
}

.title{
	 text-transform: uppercase;
    font-size: 15px !important;
}

.title-no-text-transform {
    font-size: 15px !important;
}

#portfolio .portfolio-item {
	margin: 0 0 15px;
	right: 0
}

#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	max-width: 400px;
	margin: 0 auto
}


 .img-size {
  height:400px;
  width:100%;
 }
 
 .img-size-team{
 height:150px;
  width:130px;
 }

 .img-size-applications{
 height:150px;
  width:130px;
 }
 
 
.box {
height:auto;
left:80px;
top:0px;
padding-bottom:20px;
}

.box p{
text-align:justify;
margin-left:25px;
margin-right:25px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background: rgba(45, 82, 135, .9);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content
	{
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i
	{
	margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4
	{
	margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
	text-transform: none;
	margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
	
	/**font-size: 16px;**/
	margin: 10px;
}

.portfolio-caption {
	color: #333;
}

#portfolio * {
	z-index: 2
}

.fixed-height{
	height:10px;
}

.timeline {
	list-style: none;
	padding: 0;
	position: relative
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	width: 2px;
	background-color: #f1f1f1;
	left: 40px;
	margin-left: -1.5px
}

.timeline>li {
	margin-bottom: 50px;
	position: relative;
	min-height: 50px
}

.timeline>li:before,.timeline>li:after {
	content: " ";
	display: table
}

.timeline>li:after {
	clear: both
}

.timeline>li .timeline-panel {
	width: 100%;
	float: right;
	padding: 0 20px 0 100px;
	position: relative;
	text-align: left
}

.timeline>li .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto
}

.timeline>li .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto
}

.timeline>li .timeline-image {
	left: 0;
	margin-left: 0;
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 100;
	background-color: #3c8dbc;
	color: #fff;
	border-radius: 100%;
	border: 7px solid #f1f1f1;
	text-align: center
}

.timeline>li .timeline-image h4 {
	font-size: 10px;
	margin-top: 12px;
	line-height: 14px
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	text-align: left;
	padding: 0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto
}

.timeline>li:last-child {
	margin-bottom: 0
}

.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit
}

.timeline .timeline-heading h4.subheading {
	text-transform: none
}

.timeline .timeline-body>p,.timeline .timeline-body>ul {
	margin-bottom: 0
}

.repeat-all {
    max-width:100%;
    height:98%;
}

@media ( max-width :768px) {
	
	 
 	.height-not-auto {
 		height:170px !important;
 		width:100% !important;
 	}
 
	.col-small {
		width:80px !important;
	}
	
	.text-muted {
		padding: 10px;
		color: #777;
		display: inline-block;
	}

	.text-muted-lesser {
		padding: 10px;
		color: #ddd;
		display: inline-block;
	}
	
	
	.image-resize {
		/**margin-top:10px;**/
 	 	width: 80%;
 	 	vertical-align:center;
	}

	.navbar-brand{
	float: none;
	font-size:14px;
	}
	.navbar-default {
		/**background-color: transparent;**/
		background-color: #fff;
		/*padding: 10px 0;*/
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
		border: 0;
		color: #fff;
	}
	
	.container .navbar-header{
		margin-right:0px !important;
	}
	.valign {
	padding-top: 4px;
	vertical-align:middle !important;
	font-weight: 700;
	}
	.timeline:before {
		left: 50%
	}
	.timeline>li {
		margin-bottom: 100px;
		min-height: 100px
	}
	.timeline>li .timeline-panel {
		width: 41%;
		float: left;
		padding: 0 20px 20px 30px;
		text-align: right
	}
	.timeline>li .timeline-image {
		width: 100px;
		height: 100px;
		left: 50%;
		margin-left: -50px
	}
	.timeline>li .timeline-image h4 {
		font-size: 13px;
		margin-top: 16px;
		line-height: 18px
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		text-align: left;
		padding: 0 30px 20px 20px
	}
}


@media ( min-width :768px) {
	 
 .height-not-auto {
 	height:170px !important;
 	width:270px !important;
 }
	.text-muted {
	/*padding: 10px;*/
	color: #777;
	display: inline-block;
}

.text-muted-lesser {
	padding: 10px;
	color: #ddd;
	display: inline-block;
}
	
.modal-dialog-width {
	width: 900px !important;
	
}
	
	.image-resize {
	/**margin-top:10px;**/
  width: 40% !important;
  vertical-align:center;
}

	.navbar-default {
		/**background-color: transparent;**/
		background-color: #fff;
		padding: 10px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
		border: 0;
		color: #fff;
	}
	.navbar-inverse {
		/**background-color: transparent;**/
		background-color: #101010;
		padding: 25px 0;
		-webkit-transition: padding .3s !important;
		-moz-transition: padding .3s !important;
		transition: padding .3s !important;
		border: 0;
		color: #fff;
	}
	.navbar-default .navbar-brand {
		/**font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s**/
	}
	
	.navbar-inverse .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s !important;
		-moz-transition: all .3s !important;
		transition: all .3s !important;
	}
	
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px;
		background-color: #3c8dbc
	}
	.navbar-default.navbar-shrink {
		background-color: #fff;
		padding: 10px 0
	}
	.navbar-inverse.navbar-shrink {
		background-color: #101010;
		padding: 10px 0
	}
	.navbar-default.navbar-shrink .navbar-brand {
		/**font-size: 1.5em**/
	}
	.navbar-inverse.navbar-shrink .navbar-brand {
		font-size: 1.5em
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-top: -12px;
	}

	header .intro-text {
		/*padding-top: 150px;*/
	}
	header .intro-text .intro-lead-in {
		
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px
	}
	header .intro-text .intro-heading {
		font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px
	}
	
	section {
		/*padding: 150px 0*/
	}
	
	#portfolio .portfolio-item {
		margin: 0 0 30px
	}
}


@media ( min-width :992px) {
	.timeline>li {
		min-height: 150px
	}
	.timeline>li .timeline-panel {
		padding: 0 20px 20px
	}
	.timeline>li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px
	}
	.timeline>li .timeline-image h4 {
		font-size: 18px;
		margin-top: 30px;
		line-height: 26px
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 20px 20px
	}
	.valign {
	padding-top: 4px;
	vertical-align:middle !important;
	display: inline-block;
	font-weight: 700;
}
}

@media ( min-width :1200px) {
	.timeline>li {
		min-height: 170px
	}
	.timeline>li .timeline-panel {
		padding: 0 20px 20px 100px
	}
	.timeline>li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px
	}
	.timeline>li .timeline-image h4 {
		margin-top: 40px
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 100px 20px 20px
	}
}

.team-member {
	text-align: center;
	margin-bottom: 50px
}

.team-member img {
	margin: 0 auto;
	border: 7px solid #fff
}

.team-member h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none
}

.team-member p {
	margin-top: 0
}

aside.clients img {
	margin: 50px auto
}

section#contact {
	background-color: #222;
	background-image: url(../img/map-image.png);
	background-position: center;
	background-repeat: no-repeat
}

section#contact .section-heading {
	color: #fff
}

section#contact .form-group {
	margin-bottom: 25px
}

section#contact .form-group input,section#contact .form-group textarea {
	padding: 20px
}

section#contact .form-group input.form-control {
	/*height: auto*/
}

section#contact .form-group textarea.form-control {
	height: 100px
}

section#contact .form-control:focus {
	border-color: #3c8dbc;
	box-shadow: none
}

section#contact ::-webkit-input-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb
}

section#contact :-moz-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb
}

section#contact ::-moz-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb
}

section#contact :-ms-input-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb
}

section#contact .text-danger {
	color: #e74c3c
}

footer {
	padding: 25px 0;
	text-align: center
}

footer span.copyright {
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none
}

footer ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none
}

ul.social-buttons {
	margin-bottom: 0
}

ul.social-buttons li a {
	display: block;
	background-color: #222;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}

ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active
	{
	background-color: #3c8dbc
}

.btn:focus,.btn:active,.btn.active,.btn:active:focus {
	outline: 0
}

.portfolio-modal .modal-content {
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	min-height: 100%;
	padding: 100px 0;
	text-align: center
}

.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 3em
}

.portfolio-modal .modal-content p {
	margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	
	font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
	margin-bottom: 30px;
	margin-top: 0
}

.portfolio-modal .modal-content img {
	margin-bottom: 30px
}

.portfolio-modal .close-modal {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: transparent;
	top: 25px;
	right: 25px;
	cursor: pointer
}

.portfolio-modal .close-modal:hover {
	opacity: .3
}

.portfolio-modal .close-modal .lr {
	height: 75px;
	width: 1px;
	margin-left: 35px;
	background-color: #222;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
	height: 75px;
	width: 1px;
	background-color: #222;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	z-index: 1052
}

.portfolio-modal .modal-backdrop {
	opacity: 0;
	display: none
}

::-moz-selection {
	text-shadow: none;
	background: #3c8dbc
}

::selection {
	text-shadow: none;
	background: #3c8dbc
}

img::selection {
	background: 0 0
}

img::-moz-selection {
	background: 0 0
}

body {
	webkit-tap-highlight-color: #3c8dbc
}


.form-group {
  position: relative;
  margin-bottom: 15px;
}


.form-control-no-height {
  width: 100%;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.div-height{
	height:280px;
}
